.sidebar {
    display: flex;
    flex-direction: row-reverse;
}

.arrow-section {
    cursor: pointer;
    height: calc(100vh - 80px);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: solid rgb(36, 35, 35) 3px;
    background-color: silver;
}

.sidebar-chevron {
    transition: 0.5s ease-in-out;
    margin: 5px;
}

.sidebar-section {
    transition: 0.5s ease-in-out;
    border: solid rgb(63, 62, 62) 2px;
    border-left: none;
    overflow-x: hidden;
    background-color: whitesmoke;
}

.sidebar-open {
    width: 300px;
}
@media screen and (max-width: 300px) {
    .sidebar-open {
        width: 100%
    }
}
.sidebar-close {
    width: 0;
}