@import url("https://fonts.googleapis.com/css2?family=Sora&display=swap");
@import "./styles/NavBar.css";
@import "./styles/NavBarM.css";

* {
  font-family: "Sora", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.pages {
  height: calc(100vh - 80px);
  font-size: 2rem;
  background: linear-gradient(
    rgb(139, 226, 255) 40%,
    rgb(121, 209, 183) 100%
  );
}
